---
layout: default
---
</div>
<div class="container">
    <div class="row d-flex justify-content-center">
         <div class="col-10 m10">
            <div class="card">
                <h1 class="card-title"> Game </h1>
                <iframe frameborder="0" src="
https://itch.io/embed-upload/7040348?color=333333"
allowfullscreen="" width="1920" height="1100"><a href="
https://shafie96.itch.io/kepakan-burung">Play
Kepakan Burung on itch.io</a></iframe>
            </div>
        </div>
        <div class="col-10 m10">
            <div class="card">
                <h1 class="card-title"> Contact us </h1>
                <!-- Replace with contact-getform or contact-formspree -->
                    {%- include contact-getform.html -%}
            </div>
        </div>
    </div>
</div>



